.comment {
  color: @syntax-invisible-character-color;
  font-style: italic;
}

.constant {
  color: @aqua;
}

.keyword {
  font-weight: bold;
}

.punctuation {
  color: @syntax-text-color;
}

.storage {
  color: @red;
  font-weight: bold;
}

.variable {
  color: @red;
}
