// These colors are specific to the theme. Do not use in a package!

// Base colors
@transparent-white: rgba(255, 255, 255, 0.5);
@white: #fff;
@very-light-gray: #f0f0f0;
@light-gray: #cccccd;
@gray: #99999a;
@dark-gray: #666667;
@very-dark-gray: #333334;
@black: #000;
@transparent-black: rgba(0, 0, 0, 0.5);

// Primary
@red: #c33;
@green: #3c3;
@blue: #33c;

// Secondary
@yellow: #990;
@aqua: #099;
@purple: #909;

// Tertiary
@orange: #c90; //red: c00 + yellow: cc0
@lime: #9c0; //yellow + green
@greenaqua: #0c9; // green + aqua
@blueaqua: #09c; // aqua + blue
@bluepurple: #90c; // blue + purple
@redpurple: #c09; // red + purple
