// These colors are specific to the theme. Do not use in a package!

// Base colors
@transparent-white: fade(@white, 50%);
@white: #fff;
@very-light-gray: #eee;
@light-gray: #ccc;
@gray: #999;
@dark-gray: #666;
@very-dark-gray: #333;
@black: #000;
@transparent-black: fade(@black, 50%);

// Primary
@red: #c33;
@green: #3c3;
@blue: #33c;

// Secondary
@yellow: #993;
@aqua: #399;
@purple: #939;

// Tertiary
@orange: #c93;
@lime: #9c3;
@greenaqua: #3c9;
@blueaqua: #39c;
@bluepurple: #93c;
@redpurple: #c39;
