# Test reports
test/coverage
test/report

# Compiled CSS files
*.css
!source/vendor/**/*.css

# OS
.DS_Store
thumbs.db

# Cache directories
.bower
.cache
.sass-cache
.scss-cache

# Source maps
# *.js.map
*.css.map

# Editor/IDE files
*.iml
*.ipr
*.iws
.idea
*.sublime-workspace
nb-configuration.xml
nbactions.xml
nbproject/private

# Server logs
log
logs

# Node
node_modules

# Created by https://www.gitignore.io/api/macos

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos
