
// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view


.tree-view-resizer {
  display: flex;
  flex-direction: row;
  min-width: 20em;
  max-width: 60em;
  background-color: @tree-view-background-color;

  &[data-show-on-right-side="false"] {

    .tree-view-resize-handle {
      right: auto;
    }
  }

  .tree-view-scroller {
    border-top: 1px solid @base-border-color;
    border-bottom: 1px solid @base-border-color;
    border-left: 1px solid @base-border-color;

    .tree-view {
      color: @text-color;

      .list-item {
        padding: @ui-whitespace-min 0;
        color: @text-color;

        &:hover {
          background-color: @ui-selection-color;
        }

        &.selected {

          &::before {
            display: block;
            box-sizing: border-box;
            margin-top: -@ui-whitespace-min;
            height: @font-size * 1.5 + @ui-whitespace-less;
          }
        }
      }

      .status-added {

        & > .header,
        &.list-item {
          color: @ui-color-green;
        }
      }

      .status-ignored {

        & > .header,
        &.list-item {
          color: fade(@text-color-subtle, 25%);
        }
      }

      .status-modified {

        & > .header,
        &.list-item {
          color: @ui-color-orange;
        }
      }
    }
  }

  .tree-view-resize-handle {
    flex: 0 0 auto;
    position: relative;
    border-left: 1px solid @base-border-color;
    width: @ui-whitespace-min;
    background-color: @app-background-color;
  }
}
